%btn {
    color: $primary-color;
    border:none;
	cursor: pointer;
	outline: inherit;
    padding: 5px; 
    padding-left: 20px; 
    padding-right: 20px; 
    font-family: $font-stack !important;
    font-weight: 400;
    border: 0.5px solid $secondary-color;
    border-radius: 30px !important;
    background: white;
    font-size: 14px !important;
    

    &:hover {
        border-color: lighten($color: #2E314C, $amount: 50);
    }
}

input[type="submit"] {
    @extend %btn;
}
input[type="reset"] {
    @extend %btn;
}
button {
	@extend %btn;
    
}


#custom-button-header{
    @extend %btn;
    background-color: transparent !important;
    border-radius: 30px;
    color: $secondary-color;
    padding: 5px !important; 
    padding-left: 20px !important; 
    padding-right: 20px !important; 
    font-weight:200 !important;
    margin: 10px;
    margin-left:3%;
    
}

#custom-button-header:hover{
    color: $primary-color !important;
    border: 1px solid rgba(18, 16, 76, 0.7) !important;
    background-color: transparent;
    
}

