#mikrono {
	body {
		padding: 15%;
		font-family: $font-stack !important;
	}
	margin-top: 20px;
	color: $primary-color !important;
	font-family: $font-stack !important;
	font-weight: 200 impotant !important;
	overflow: hidden;
	// .appDetails {
	// 	[class {
	// 		^="icon-"] {
	// 			color: inherit !important;
	// 		}
	// 	}
	// }
	.x-customerAppsView {
		.custAppType {
			color: inherit !important;
		}
	}
	.custNextAppointments {
		color: inherit !important;
	}
	.x-form-group-label {
		pointer-events: none;
	}
	.x-form-cb-label {
		pointer-events: none;
	}
	input[type='radio'] {
		height: 15px !important;
		width: 50px !important;
		line-height: 15px !important;
		border-radius: 30px !important;
		border: 1px solid rgba(18, 16, 76, 0.3) !important;
	}
	input {
		padding: 5px !important;
	}
	.custSelectCustomer {
		background: rgba(160, 160, 233, 0.1) !important;
		font-family: $font-stack !important;
		font-weight: 200 !important;
	}
	.custSelectOwner {
		background: rgba(160, 160, 233, 0.1) !important;
		font-family: $font-stack !important;
		font-weight: 200 !important;
	}
	html {
		font-family: $font-stack !important;
	}
	div {
		font-family: $font-stack !important;
	}
	dl {
		font-family: $font-stack !important;
	}
	dt {
		font-family: $font-stack !important;
	}
	dd {
		font-family: $font-stack !important;
	}
	ul {
		font-family: $font-stack !important;
	}
	ol {
		font-family: $font-stack !important;
	}
	li {
		font-family: $font-stack !important;
	}
	h1 {
		font-family: $font-stack !important;
	}
	h2 {
		font-family: $font-stack !important;
	}
	h3 {
		font-family: $font-stack !important;
	}
	h4 {
		font-family: $font-stack !important;
	}
	h5 {
		font-family: $font-stack !important;
	}
	h6 {
		font-family: $font-stack !important;
	}
	pre {
		font-family: $font-stack !important;
	}
	form {
		font-family: $font-stack !important;
	}
	fieldset {
		font-family: $font-stack !important;
	}
	p {
		font-family: $font-stack !important;
	}
	blockquote {
		font-family: $font-stack !important;
	}
	th {
		font-family: $font-stack !important;
	}
	td {
		font-family: $font-stack !important;
		padding: 5px !important;
	}
	.custModifyContacts {
		border-radius: 30px;
		border: 1px solid rgba(160, 160, 233, 0.3) !important;
	}
	.customerLabel {
		color: $primary-color !important;
		color: $primary-color !important;
		font-family: $font-stack !important;
		font-weight: 400 impotant !important;
	}
	.custStepHeader {
		color: $primary-color !important;
		font-weight: 200;
		font-size: 12px;
		color: $primary-color !important;
		font-family: $font-stack !important;
		font-weight: 200 !important;
	}
	.custOdd {
		background: rgba(160, 160, 233, 0.1) !important;
		border-radius: 30px !important;
		margin: 2%;
		color: $primary-color !important;
		font-family: $font-stack !important;
		font-weight: 200 !important;
		&:hover {
			background: rgba(160, 160, 233, 0.3) !important;
		}
	}
	.custEven {
		background: rgba(160, 160, 233, 0.1) !important;
		border-radius: 30px !important;
		margin: 2%;
		color: $primary-color !important;
		font-family: $font-stack !important;
		font-weight: 200 !important;
		&:hover {
			background: rgba(160, 160, 233, 0.3) !important;
		}
	}
	.custWarningContainer {
		background: transparent !important;
	}
	.freeslotList {
		.custAppTime {
			color: $primary-color !important;
			font-weight: 200;
		}
		.custAppDate {
			color: inherit !important;
			border-color: $primary-color !important;
		}
		.x-customerAppsView {
			&:hover {
				border: 1px solid rgba(18, 16, 76, 0.7) !important;
				background-color: transparent !important;
				color: $primary-color !important;
				border: 1px solid rgba(18, 16, 76, 0.7) !important;
				background-color: transparent;
			}
		}
	}
	.custSummaryValue {
		color: inherit !important;
		border-color: $primary-color !important;
	}
	.x-view-item-over {
		background-color: white !important;
	}
	.custAppDate {
		background-color: white !important;
	}
	.x-view {
		background-color: transparent !important;
	}
	.custAskButton {
		background-color: transparent !important;
		border-radius: 30px;
		border: 1px solid rgba(18, 16, 76, 0.3) !important;
		color: $primary-color !important;
		box-shadow: none;
		padding: 5px !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
		color: $primary-color !important;
		font-family: $font-stack !important;
		font-weight: 200 impotant !important;
		margin: 10px;
		&:hover {
			color: $primary-color !important;
			border: 1px solid rgba(18, 16, 76, 0.7) !important;
			background-color: transparent;
		}
	}
	.custBookButton {
		background-color: transparent !important;
		border-radius: 30px;
		border: 1px solid rgba(18, 16, 76, 0.3) !important;
		color: $primary-color !important;
		box-shadow: none;
		padding: 5px !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
		color: $primary-color !important;
		font-family: $font-stack !important;
		font-weight: 200 impotant !important;
		margin: 10px;
		&:hover {
			color: $primary-color !important;
			border: 1px solid rgba(18, 16, 76, 0.7) !important;
			background-color: transparent;
		}
	}
	.custQuit {
		background-color: transparent !important;
		border-radius: 30px;
		border: 1px solid rgba(18, 16, 76, 0.3) !important;
		color: $primary-color !important;
		box-shadow: none;
		padding: 5px !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
		color: $primary-color !important;
		font-family: $font-stack !important;
		font-weight: 200 impotant !important;
		margin: 10px;
		&:hover {
			color: $primary-color !important;
			border: 1px solid rgba(18, 16, 76, 0.7) !important;
			background-color: transparent;
		}
	}
	.custModifyPw {
		background-color: transparent !important;
		border-radius: 30px;
		border: 1px solid rgba(18, 16, 76, 0.3) !important;
		color: $primary-color !important;
		box-shadow: none;
		padding: 5px !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
		color: $primary-color !important;
		font-family: $font-stack !important;
		font-weight: 200 impotant !important;
		margin: 10px;
		&:hover {
			color: $primary-color !important;
			border: 1px solid rgba(18, 16, 76, 0.7) !important;
			background-color: transparent;
		}
	}
	.custHelp {
		background-color: transparent !important;
		border-radius: 30px;
		border: 1px solid rgba(18, 16, 76, 0.3) !important;
		color: $primary-color !important;
		box-shadow: none;
		padding: 5px !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
		color: $primary-color !important;
		font-family: $font-stack !important;
		font-weight: 200 impotant !important;
		margin: 10px;
		&:hover {
			color: $primary-color !important;
			border: 1px solid rgba(18, 16, 76, 0.7) !important;
			background-color: transparent;
		}
	}
	.custButton {
		background-color: transparent !important;
		border-radius: 30px;
		border: 1px solid rgba(18, 16, 76, 0.3) !important;
		color: $primary-color !important;
		box-shadow: none;
		padding: 5px !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
		color: $primary-color !important;
		font-family: $font-stack !important;
		font-weight: 200 impotant !important;
		margin: 10px;
		&:hover {
			color: $primary-color !important;
			border: 1px solid rgba(18, 16, 76, 0.7) !important;
			background-color: transparent;
		}
	}
	.custConfirmButton {
		background-color: transparent !important;
		border-radius: 30px;
		border: 1px solid rgba(18, 16, 76, 0.3) !important;
		color: $primary-color !important;
		box-shadow: none;
		padding: 5px !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
		color: $primary-color !important;
		font-family: $font-stack !important;
		font-weight: 200 impotant !important;
		margin: 10px;
		&:hover {
			color: $primary-color !important;
			border: 1px solid rgba(18, 16, 76, 0.7) !important;
			background-color: transparent;
		}
	}
	.custAnswerButton {
		background-color: transparent !important;
		border-radius: 30px;
		border: 1px solid rgba(18, 16, 76, 0.3) !important;
		color: $primary-color !important;
		box-shadow: none;
		padding: 5px !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
		color: $primary-color !important;
		font-family: $font-stack !important;
		font-weight: 200 impotant !important;
		margin: 10px;
		&:hover {
			color: $primary-color !important;
			border: 1px solid rgba(18, 16, 76, 0.7) !important;
			background-color: transparent;
		}
	}
	.gwt-Button {
		background-color: transparent !important;
		border-radius: 30px;
		border: 1px solid rgba(18, 16, 76, 0.3) !important;
		color: $primary-color !important;
		box-shadow: none;
		padding: 5px !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
		color: $primary-color !important;
		font-family: $font-stack !important;
		font-weight: 200 impotant !important;
		margin: 10px;
		&:hover {
			color: $primary-color !important;
			border: 1px solid rgba(18, 16, 76, 0.7) !important;
			background-color: transparent;
		}
	}
	a {
		color: $primary-color !important;
	}
	label {
		color: $primary-color !important;
	}
	.gwt-Button.custGoToLoginButton {
		color: $primary-color !important;
	}
	.custGoToLoginButton {
		[class^="icon-"] {
			color: $primary-color !important;
		}
	}
	i {
		color: $primary-color !important;
		font-size: 14px !important;
	}
	.x-panel-body {
		border: 1px solid $primary-color !important;
		padding: 10px !important;
		background: white !important;
		border-bottom-right-radius: 10px !important;
		border-bottom-left-radius: 10px !important;
	}
	.x-panel-header {
		font-family: $font-stack !important;
		font-weight: 400 !important;
		font-size: 12px !important;
		border-top-right-radius: 10px !important;
		border-top-left-radius: 10px !important;
		color: $primary-color !important;
		background-color: white !important;
		border: 1px solid $primary-color !important;
		padding: 5px !important;
		padding-left: 15px !important;
	}
}







#mikrono.custMikronoLoggedIn {
	padding: 20px !important;
	background: white !important;
	box-shadow: none !important;
	border: 1px solid rgba(18, 16, 76, 0.3) !important;
	border-radius: 10px !important;
}
.custFormHeader {
	font-weight: 200 !important;
	font-size: 14px !important;
	color: inherit !important;
}
.custQuestion {
	font-weight: 200 !important;
	font-size: 14px !important;
	color: inherit !important;
}
.custOnlineAgenda {
	color: $primary-color !important;
}
.x-btn-text {
	background-color: transparent !important;
	border-radius: 30px;
	border: 1px solid rgba(18, 16, 76, 0.3) !important;
	color: $primary-color !important;
	box-shadow: none;
	padding: 5px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	color: $primary-color !important;
	font-family: $font-stack !important;
	font-weight: 200 impotant !important;
	margin: 10px;
}
.icon-user-md {
	color: $primary-color !important;
}
.icon-edit {
	color: $primary-color !important;
}
.icon-question-sign {
	color: $primary-color !important;
}
.custErrorMessage {
	color: #414141 !important;
	background: white !important;
	display: inline-block !important;
}